.HomeAppointmentContainer{
    margin: 100px 20px;
    background-image: url(../../../assets//images/appointment.png);
    border-radius: 10px;
    color: white;
    padding: 10px 50px;
}
.appointmentHeading{
    color: #19D3AE;
}
.HomeAppointmentContainer img{
    max-height: 400px;
    margin-top: -80px;
}